.ac-container{
  margin: 10px auto 10px auto;
}
.ac-container label{
  background-color: #616975;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
  background-image: -moz-linear-gradient(center top , #727A86, #505864);
  background-image: -moz-linear-gradient(top, #727A86, #505864);
  background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
  border-bottom: 1px solid #33373D;
  -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
  -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
  box-shadow: 0px 1px 0px 0px #878E98 inset;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-indent: 2em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  color: #FFF;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  margin-left: 0;
  text-indent: 0;
}
.ac-container label > span {
  margin: 0 1em;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover, label[for="4"]{
  background-color: #35afe3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00A3D9),to(rgb(38, 152, 219)));
  background-image: -webkit-linear-gradient(top, #00A3D9, rgb(38, 152, 219));
  background-image: -moz-linear-gradient(top, #00A3D9, rgb(38, 152, 219));
  background-image: -o-linear-gradient(top, #00A3D9, rgb(38, 152, 219));
  background-image: -ms-linear-gradient(top, #00A3D9, rgb(38, 152, 219));
  background-image: linear-gradient(top, #00A3D9, rgb(38, 152, 219));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00A3D9', EndColorStr='#2698db');
  border-bottom: 1px solid #103c56;
  -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 2px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after{
  background-image: url(../images/arrow_up.png);
}
.ac-container input{
  display: none;
}
.ac-container ul{
  margin-top: -1px;
  padding-left: 0;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ ul{
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}
.ac-container input:checked ~ ul.ac-1{
  height: 30px;
}
.ac-container input:checked ~ ul.ac-2{
  height: 50px;
}
.ac-container input:checked ~ ul.ac-3{
  height: 80px;
}
.ac-container input:checked ~ ul.ac-4{
  height: 110px;
}
.ac-container input:checked ~ ul.ac-5{
  height: 150px;
}
.ac-container input:checked ~ ul.ac-6{
  height: 160px;
}
.ac-container ul li:before{
  content: '▶';
  font-size: 8px;
  color: #bcbcbf;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: -1.5em;
}
.ac-container ul li{
  background: #FFF none repeat scroll 0% 0%;
  border-bottom: 1px solid #EFEFF0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.923em;
  font-weight: 400;
  color: #878D95;
  text-indent: 1.5em;
}
