---
title: Unité de Transplantation Hépatique - Nous contacter
---
<h1>Comment nous contacter ?</h1>
{% for contact in site.data.contacts %}
  <h2>{{contact.name}} :</h2>
  <p><span class="glyphicon glyphicon-earphone"></span>{{contact.tel}}</p>
  {% if contact.fax %}
    <p><span class="glyphicon glyphicon-print"></span>{{contact.fax}}</p>
  {% endif %}
  {% if contact.email %}
    <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
  {% endif %}
  {% if contact.email2 %}
    <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{contact.email2}}">{{contact.email2}}</a></p>
  {% endif %}
{% endfor %}
