  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>La transplantation hépatique à Mondor</h1>
      <h2>La transplantation hépatique, depuis son avènement au début des années 80, offre un immense espoir à tous les patients atteints de maladies hépatiques sévères car elle offre une possibilité de guérison et de retour à une espérance de vie et une qualité de vie normale dans la majorité des cas.<br/> Ce site est dédié à tous les patients qui, à un moment dans leur vie, ont été confrontés à la problématique d’une maladie hépatique grave, aux patients déjà transplantés ainsi qu’aux soignants impliqués dans la transplantation hépatique.</h2>
        <p>L’objectif de ce site est de proposer :
          <ul>
            <li>aux patients, des réponses aux questions qu’ils sont légitimement en droit de se poser et des outils d’éducation thérapeutique interactifs crées par nos infirmières de coordination</li>
            <li>aux soignants, des données actualisées sur la greffe hépatique et des outils destinés à faciliter leur activité au quotidien. Sont accessibles à partir de ce site des liens vers des sites professionnels, des actualités des congrès, un blog interactif et les scores pronostiques développé par l’équipe de transplantation de l’hôpital Henri Mondor tels que le score AFP utilisé au plan national pour la greffe pour carcinome hépato-cellulaire.</li>
          </ul>
        </p>
      <hr />
    </div>
  </div>
  <div class ="container">
