<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Activer la navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
			{% for section in site.data.pages %}
			<li>
				<h3>{{ section.title }}</h3>
				<ul>
				{% for subsection in section.subtitles %}
				<li><a href="{{ site.baseurl }}{{ subsection.href }}">{{ subsection.title }}</a></li>
				{% endfor %}
				</ul>
			{% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
    <hr />
			{% for section in site.data.pages %}
			<li>
				<h3>{{ section.title }}</h3>
				<ul>
				{% for subsection in section.subtitles %}
				<li><a href="{{ site.baseurl }}{{ subsection.href }}">{{ subsection.title }}</a></li>
				{% endfor %}
				</ul>
			{% endfor %}    <hr />
    {% for lab in site.data.labo %}
      <a class="pharma" target="_blank" href="{{lab.url}}">
        <img src="{{ lab.image }}" alt="{{lab.name}}" />
      </a>
    {% endfor %}
  </ul>
</div>
